  @media(min-width:992px) and (max-width:1199px){

    #banner .banner-slider .banner-ctn h2 {
        font-size: 50px;
        line-height: 50px;  
    }
    #banner .slick-dots {
        bottom: 18%;
        left: 28px;
    }
  }




  @media(min-width:768px) and (max-width:991px){
    #banner .banner-slider .banner-ctn h2 {
        font-size: 43px;   
        line-height: 50px; 
    }
    #banner .banner-slider .banner-ctn p {
      
        line-height: 24px;      
        padding: 14px 0;
    }
    .button { 
        padding: 14px 29px;
        font-size: 16px;
    }

    #banner .slick-dots {
       
        bottom: 13%;
        left: 36px;
    }
    #banner .banner-slider .row {
        height: 500px;
    }
    #banner .banner-slider{
        height: 500px;       
       }
  }
 


  
  @media(min-width:320px) and (max-width:767px){

    #banner .banner-slider .row {
        height: 300px;
    }
    #banner .banner-slider{
        height: 300px;       
       }

       img, svg {
        margin: 0 15px;
        width: 85px;
    }


    #banner .banner-slider .banner-ctn h2 {
        font-size: 17px;
       line-height: 18px;
      
    }
     
    #banner .banner-slider .banner-ctn h3 {
        font-size: 11px;
        line-height: 28px;    
    }
    #banner .banner-slider .banner-ctn p {
        font-size: 12px;     
        line-height: 18px;
        padding: 14px 0;    
    }

    .button {
     padding: 6px 12px;     
        font-size: 11px;
    }

    #banner .slick-dots {
        bottom: 0%;
        left: 20px;
    }

    #banner .slick-dots .slick-active button {
        width: 25px;
        
    }
    #banner .slick-dots button {
        width: 15px;
        height: 5px;
    }

    #banner .slick-dots li {
         margin: 0 2px;
    }
    #banner .banner-slider .banner-ctn .button span {
       top: 2px;
    }

    #smallMenu .small-menu li a {
        font-size: 10px;
        padding: 5px 24px;
    }
    nav .iconspanel ul li span, nav .iconspanel ul li a {
        font-size: 15px;
         padding: 0 5px;
      
    }
    img, svg {
        margin: 0 -6px;
        width: 57px;
        height: 20px;
    }
    
  }